---
Language: Cpp
BasedOnStyle: Chromium

AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: Consecutive
AlignEscapedNewlines: Left
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
BinPackArguments: "true"
BinPackParameters: "true"
BreakBeforeBraces: Custom
BreakStringLiterals: "false"
ContinuationIndentWidth: 2
Cpp11BracedListStyle: "true"
IncludeCategories:
  # POSIX
  - Regex: '^<(aio|libgen|spawn|arpa/inet|cpio|monetary|mqueue|dirent|ndbm|dlfcn|net/if|syslog|netdb|strings|tar|fcntl|\
            netinet/in|stropts|termios|netinet/tcp|nl_types|fmtmsg|poll|trace|fnmatch|pthread|ulimit|ftw|pwd|unistd|glob|\
            regex|utime|grp|sched|utmpx|iconv|search|semaphore|wordexp|langinfo|sys\/[a-z]+).h>'
    Priority: 3
  - Regex: '^<(c[a-z]+|[a-z]+.h)>$'
    Priority: 1
  - Regex: '^<([a-z_])>$'
    Priority: 2
  - Regex: ''
NamespaceIndentation: All
PointerAlignment: Left
SpaceAfterCStyleCast: "true"
SpaceBeforeCtorInitializerColon: "true"
SpaceBeforeCpp11BracedList: "true"
SpaceAroundPointerQualifiers: Before
Standard: Cpp11
UseTab: Never
